.delete-action {
  margin-top: 20px;
}

.btn-like {
  padding: 0;
}

.liked-by {
  font-size: 12px;
  color: #888;
  ul, li {
    padding: 0;
    display: inline-block;
  }

  li:not(:last-child)::after {
    content: ',';
    margin: 0 4px 0 0;
  }
}

.blog-post {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blog-eyecatch {
  margin: 18px 0;
  .resize {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.blog-content {
  p + p, p + div {
    &:before {
      content: '👻';
      font-size: 200px;
    }
    background-color: yellow;
    animation: r1 1s linear infinite;
  }

  @keyframes r1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
